@{
    Layout = null;
}
 
<!DOCTYPE html>
<html>
<body>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td>Производитель:</td>
                    <td><input type="text" name="Manufacturer" /> </td>
                </tr>
                <tr>
                    <td>Модель:</td>
                    <td><input type="text" name="Model" /> </td>
                </tr>
                <tr>
                    <td>Код сборки:</td>
                    <td><input type="text" name="Code" /> </td>
                </tr>
                <tr>
                    <td>Цена:</td>
                    <td><input type="number" name="Price" /> </td>
                </tr>
                <tr>
                    <td>Соотношение сторон:</td>
                    <td><input type="text" name="AspectRatio" /> </td>
                </tr>
                <tr>
                    <td>Разрешение:</td>
                    <td><input type="text" name="Resolution" /> </td>
                </tr>
                <tr>
                    <td>Диагональ:</td>
                    <td><input type="text" name="Diagonal" /> </td>
                </tr>
                <tr>
                    <td>Частота обновления:</td>
                    <td><input type="text" name="FrameRate" /> </td>
                </tr>
                <tr>
                    <td>Тип матрицы:</td>
                    <td><input type="text" name="Matrix" /> </td>
                </tr>
                
                <tr><td><input type="submit" value="Создать" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>